.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@bosque
!node_modules/@bosque/jsbrex
!node_modules/@bosque/jsbrex/package.json
!node_modules/@bosque/jsbrex/lib/**
!node_modules/@bosque/jsbrex/build/Release/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
